certifi==2018.4.16
Django==2.0
django-braces==1.13.0
django-environ==0.4.5
django-fa==1.0.0
django-filebrowser-no-grappelli==3.7.4
django-geoposition==0.3.0
django-js-asset==1.1.0
django-mptt==0.9.1
django-tinymce4-lite==1.7.0
django-widget-tweaks==1.4.1
fontawesome==4.7.0.post5
jsmin==2.2.2
Pillow==5.0.0
pyenchant==2.0.0
pytz==2017.3
PyYAML==3.13
