{% extends "courses/layout.html" %}
{% block course_content %}
     {% load widget_tweaks %}
     <div class="container">

    <div class='col-md-4 col-10  mx-auto'>
    <h1>Change your Password</h1>
        <form method='post' action=''>{% csrf_token %}

{% for field in form %}
<div class="input-field col s12">
	<div class="errors">
 {% if field.errors %} has-error{% endif %}
 	</div>
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class="validate" %}
 </div>
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
 
{% endfor %}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-info'>Save</button>
</form>
</div></div> 
{% endblock %}
</div>
