<div class="col s12 m4">
   <div class="card">
 <div class="card-image">
             <img src="{{ related_course.image.url }}" height="270">
        <h5>
           <a href="{% url 'courses:course_detail' related_course.slug %}">
			 {{ related_course.title }} </a>
        </h5>
         {% if user.is_authenticated and related_course.user == user and not hide_delete %}
   <div class="fixed-action-btn toolbar direction-top" style="transition: transform 0.2s; transform: translate3d(0px, 0px, 0px);">
      <a class="btn-floating btn-large red" style="transition: transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19); transform: translate3d(0px, 0px, 0px);">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        <li class="waves-effect waves-light"><a href="#!" style=""><i class="material-icons">insert_chart</i></a></li>
        <li class="waves-effect waves-light"><a href="{% url 'courses:edit_course' course.pk %}" style=""><i class="material-icons dp48">edit</i></a></li>
        <li class="waves-effect waves-light"><a href="{% url 'courses:delete_course' course.pk %}" style=""><i class="material-icons dp48">delete</i></a></li>
        <li class="waves-effect waves-light"><a href="" style=""><i class="material-icons">attach_file</i></a></li>
      </ul>
    </div>
        {% endif %}

        
 </div>
<div class="card-content">
            <p> {{ related_course.description|slice:"100" }}<a href="{% url 'courses:course_detail' related_course.slug %}"> Read More </a></p> 
</div>

 </div> 
</div>
{% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div><br><div class="row">
      {% endif %}
 