{% extends "courses/layout.html" %}
{% load widget_tweaks %}
{% block course_content %}

 <div class="container" >
  <form method="post" enctype="multipart/form-data">
  
      <div class="row">
     <div class="input-field col s12">
        {% render_field form.related_title %}
        <label for="title"> Title </label>
     </div>
     <div class="input-field col s12">
       {% render_field form.related_description|add_class:'materialize-textarea'  %}
       <label for="title"> Description </label>
         
     </div>
     <div class="input-field col s12">
       {% render_field form.related_teacher|add_class:'select-dropdown dropdown-trigger'  %}
       <label for="title"> Teacher </label>
         
     </div>
     <div class="input-field col s12">
       {% render_field form.course|add_class:'select-dropdown dropdown-trigger'  %}
       <label for="title"> Course </label> 
     </div>
     <div class="input-field col s12">
       {% render_field form.order|add_class:'select-dropdown dropdown-trigger'  %}
       <label for="title"> Order </label>
     </div>
        </div>
 <div class="file-field input-field cols12 m12">

  <div class="btn">
    <span> Browse </span>
    <input type="file" name="{{ form.related_image.html_name }}">
  </div>
  <div class="file-path-wrapper">
  <input class="file-path validate" type="text">
</div>
</div>
        

    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span> Save
      </button>
      <a href="{% url 'courses:course_list' %}" class="btn btn-default">Cancel</a>
    {% csrf_token %}
  </form>
 </div><!-- container -->
 {% endblock %}