{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

	<title>  {% block title %}All course {% endblock %} </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  

</head>
<body>

 
	<nav class="light-blue lighten-1" role="navigation">

    
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'courses:course_list' %}" class="brand-logo">My App</a>

    <ul class="right hide-on-med-and-down">
       {% if user.is_authenticated %}
  
     
       <li><a href="{% url 'courses:step_create'%}"> Create Same Topic </a></li>

       <li><a href="{% url 'courses:create_course'%}">Create Post</a></li>

       <li><a href="{% url 'logout' %}"> Logout </a></li>        	
       {% else %}
       <li> <a href="{% url 'login' %}">Log in </a></li>
       <li> <a href="{% url 'password_reset' %}">Lost password?</a>
       <li> <a href="{% url 'signup' %}">Create Account </a></li>
       {% endif %}
       <li class="rightone"> {% include "search_form.html" %} </li>
    </ul>

      <ul id="nav-mobile" class="side-nav">
       {% if user.is_authenticated %}
       <li><a href="{% url 'courses:myview' %}">{{user }}</a></li>
       
       <li><a href="{% url 'courses:create_course'%}">Create Post</a></li>

       <li><a href="{% url 'logout' %}"> Logout </a></li>         
       {% else %}
       <li> <a href="{% url 'login' %}">Log in </a></li>
       <li> <a href="{% url 'password_reset' %}">Lost password?</a>
       <li> <a href="{% url 'signup' %}">Create Account </a></li>
       {% endif %}
       <li class="rightone"> {% include "search_form.html" %} </li>
    </ul>

       <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </li>
</ul>
</div>
  </nav>
 


<div class="posts-page">

			{% block pre_course_content %}{% endblock %}
      {% block course_content %}{% endblock %}
     
			
		</div>

{% block footer %}
<footer class="light-blue lighten-1" role="navigation">
<div class="footer-copyright">
      <div class="container">
      Made By Tanveer Ahmed
      </div>
    </div>
</footer>
{% endblock footer %}




 <!--  Scripts-->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
   <script src="{% static 'js/drop.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
     <script src="{% static 'js/forms.js' %}"></script>
         <script src="{% static 'js/waves.js' %}"></script>
          <script src="{% static 'js/validation.js' %}"></script>

    {% block javascript %}{% endblock %}
</body>
</html>