{% extends 'blat/base.html' %}
{% block title %} My All Posts {% endblock %}
{% block content %}
{% load humanize %}
{% if blat_list %}

{% for blat in blat_list %}
	<div class="divider"> </div>
 	 <div class="container">       
 	  <div class="row">
		<div class="section">
 		 <div class="col s3">
    		<blockquote>
   					<p >{{ blat.created_on|naturaltime }} </p>
   			</blockquote>
 		 </div> <!-- col -->
		<div class="col s3">
        		 		Added By | <b> {{user}}  </b>
		</div> <!-- col -->
         					{% if blat.created_by == user %}
 	 <div class="col s3">    
	 				<a href="{% url 'blat:editblat' blat.id %}" class="btn-floating btn-small waves-effect waves-light red">
              			<i class="large material-icons">mode_edit</i>
             		</a>
             	</div>
 							{% endif %}

 
   	</div>
  </div>

  
  			<h4> <a href="{% url 'blat:detail' blat.pk %}"> {{ blat.title}} </a> </h4>
  	</div>
  </div>
  <div class="divider">
  	
  </div> <!-- divider -->

  <div class="container">
  	<div class="row">
		 	<p>   {{ blat.text|slice:":300" }} <a href="{% url 'blat:detail' blat.pk %}">Read More </a> </p>
  	</div>
  </div>

  	<br><br>
					{% if blat.created_by == user %}

  
	 
					{% endif %}
     </div> 
    </div>
  </div>

</div><!-- row -->

					{% endfor %}

					{% else %}
						:-(
					{% endif %}


					{% endblock content %}

		
