{% extends "courses/layout.html" %}

<style>
#tweet-container {

}
</style>





{% block course_content %}

   
    <div class='row'>
        <div class='col-sm-12'>
               {% if request.GET.q %}
                <p class='lead'>Results for {{ request.GET.q }}</p>
                <hr/>
               {% endif %}
        </div>
        <div class='col-sm-9 '>
          <h1>Tweets</h1>
          <hr/>

          <div id='tweet-container' data-url='/api/search/'>
            
          </div>
          <a href='#' id='loadmore'>Load More Tweets</a>


        </div>
        <div class='col-sm-3'>
          <h1>Users</h1>
           <hr/>

          {% for course in course_list %}
            <h5> <a href="{% url 'courses:course_detail' course.pk %}"> {{course.title}} </a> </h5>

          {% empty %}
          <p>No users found</p>
          {% endfor %}
        </div>
    </div>

{% endblock %}